.overflowXY {
  overflow-x: scroll;
  overflow-y: scroll;
}

.overflowX {
  overflow-x: scroll;
}

.overflowY {
  overflow-y: scroll;
}

/* change background of page to enable scrolling down */
.skin-blue .wrapper {
  background-color: #ECF0F3;
  border-color:#002C53;
  border-width:1px;
  border-radius:0;
}
